/*

    Material Design color palette
    based on the Google Material Design guidelines
    https://www.google.com/design/spec/style/color.html#color-color-palette

    by Hawk Weisman

 */

$black: #000000;
$white: #FFFFFF;

$material-red: #F44336;
$material-pink: #E91E63;
$material-purple: #9C27B0;
$material-indigo: #3F51B5;
$material-blue: #2196F3;
$material-ltblue: #03A9F4;
$material-cyan: #03A9F4;
$material-teal: #009688;
$material-green: #4CAF50;
$material-ltgreen: #8BC34A;
$material-lime: #CDDC39;
$material-yellow: #FFEB3B;
$material-amber: #FFC107;
$material-organge: #FF9800;
$material-deeporange: #FF5722;
$material-brown: #795548;
$material-grey: #9E9E9E;
$material-bluegrey: #607D8B;
