/*

	styles for Alexandria
	based on the Google Material Design guidelines

	by Harry Grillo & Hawk Weisman
	https://github.com/alexandrialibrary

 */
@import 'colors';
@import 'material_type';

$font-stack: 'RobotoDraft', 'Roboto', 'Noto', sans-serif;

body {
     font-family: $font-stack;
     -webkit-font-smoothing: antialiased;
     -webkit-text-size-adjust: 100%;
 }

paper-header-panel {
	paper-toolbar {
		paper-tabs {
			width: 100%;
		}
	}
}
